<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ingreso</title>
    <link rel="stylesheet" href="../css/styles.css">

  <body>
    <form action="" class="form-ingreso">
      <h1>Agregar ingreso</h1>
      <div>
      <input type="text" placeholder="ingreso">
      <select name="categorias" id="categorias">
        <option value="">Seleccione una categoria</option>
      </select>
      <button class="agregar_categoria">Agregar categoria</button>
      </div>
      
    </form>

    <script src="../js/script.js"></script>
  </body>
</html>