<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Registro de Usuario</title>
</head>
<body>
    <form action="" class="form-ingreso" id="form-registro">
        <h1>Crea tu cuenta</h1>
        <p>Comienza ya a organizar tus finanzas</p>
        <div>
            <label for="">Nombre</label>
            <input type="text" name="name" id="name-registro" placeholder="Ingresa tu nombre">
            <label for="">Apellido</label>
            <input type="text" name="last_name" id="last_name-registro" placeholder="Ingresa tu apellido">
            <label for="">Email</label>
            <input type="email" name="email" id="email-registro" placeholder="Ingresa tu email">
            <label for="">Contraseña</label>
            <input type="password" placeholder="Ingresa tu contraseña" name="password" id="password-registro">
            <input type="password" placeholder="Confirma tu contraseña" name="password2" id="password-registro2">
            <button type="submit">Registro</button>
        </div>
    </form>

    <script src="../js/script.js"></script>
</body>
</html>